In [1]:
maths_marks = []
science_marks = []
english_marks = []
it_marks = []
for i in range(10):
    print(f"Enter marks for Student {i + 1}:")
    maths = int(input("Maths: "))
    science = int(input("Science: "))
    english = int(input("English: "))
    it = int(input("IT: "))
    maths_marks.append(maths)
    science_marks.append(science)
    english_marks.append(english)
    it_marks.append(it)
def calc_stats(marks):
    return max(marks), min(marks), sum(marks) / len(marks)
maths_high, maths_low, maths_avg = calc_stats(maths_marks)
science_high, science_low, science_avg = calc_stats(science_marks)
english_high, english_low, english_avg = calc_stats(english_marks)
it_high, it_low, it_avg = calc_stats(it_marks)
all_marks = maths_marks + science_marks + english_marks + it_marks
overall_high, overall_low, overall_avg = calc_stats(all_marks)
print("\nResults for each test:")
print(f"Maths - Highest: {maths_high}, Lowest: {maths_low}, Average: {maths_avg:.2f}")
print(f"Science - Highest: {science_high}, Lowest: {science_low}, Average: {science_avg:.2f}")
print(f"English - Highest: {english_high}, Lowest: {english_low}, Average: {english_avg:.2f}")
print(f"IT - Highest: {it_high}, Lowest: {it_low}, Average: {it_avg:.2f}")
print("\nOverall results:")
print(f"Overall Highest: {overall_high}, Overall Lowest: {overall_low}, Overall Average: {overall_avg:.2f}")

Enter marks for Student 1:

Maths:  98
Science:  87
English:  78
IT:  93

Enter marks for Student 2:

Maths:  86
Science:  78
English:  65
IT:  78

Enter marks for Student 3:

Maths:  76
Science:  87
English:  67
IT:  56

Enter marks for Student 4:

Maths:  78
Science:  98
English:  76
IT:  87

Enter marks for Student 5:

Maths:  89
Science:  87
English:  89
IT:  88

Enter marks for Student 6:

Maths:  87
Science:  87
English:  86
IT:  91

Enter marks for Student 7:

Maths:  78
Science:  78
English:  67
IT:  97

Enter marks for Student 8:

Maths:  98
Science:  87
English:  86
IT:  76

Enter marks for Student 9:

Maths:  98
Science:  87
English:  87
IT:  89

Enter marks for Student 10:

Maths:  84
Science:  98
English:  86
IT:  93

Results for each test:
Maths - Highest: 98, Lowest: 76, Average: 87.20
Science - Highest: 98, Lowest: 78, Average: 87.40
English - Highest: 89, Lowest: 65, Average: 78.70
IT - Highest: 97, Lowest: 56, Average: 84.80

Overall results:
Overall Highest: 98, Overall Lowest: 56, Overall Average: 84.53

question 2

In [5]:
def grosssalary(basic_salary):
    if basic_salary <= 10000:
        hra = 0.20 * basic_salary
        da = 0.80 * basic_salary
    elif basic_salary <= 20000:
        hra = 0.25 * basic_salary
        da = 0.90 * basic_salary
    else:
        hra = 0.30 * basic_salary
        da = 0.95 * basic_salary
    gross_salary = basic_salary + hra + da
    return gross_salary
basic_salary = float(input("Enter the basic salary of the employee: "))
gross_salary = grosssalary(basic_salary)
print(f"The gross salary of the employee is: {gross_salary}")

Enter the basic salary of the employee:  200000

The gross salary of the employee is: 450000.0

question 3

In [9]:
def check_password_validity(password):
    if len(password) < 6 or len(password) > 16:
        print("Password must be between 6 and 16 characters.")
    elif not any(c.islower() for c in password):
        print("Password must contain at least one lowercase letter.")
    elif not any(c.isupper() for c in password):
        print("Password must contain at least one uppercase letter.")
    elif not any(c.isdigit() for c in password):
        print("Password must contain at least one number.")
    elif not any(c in "$#@" for c in password):
        print("Password must contain at least one special character from [$#@].")
    else:
        print("Password is valid.")
password = input("Enter your password: ")
check_password_validity(password)

Enter your password:  3&Abc

Password must be between 6 and 16 characters.

question 4

In [11]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("List after adding 200 and 300:", L)
L.remove(10)
L.remove(30)
print("List after removing 10 and 30:", L)
L.sort()
print("List in ascending order:", L)
L.sort(reverse=True)
print("List in descending order:", L)

List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

question 5

In [13]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}
D[6] = "Six"
print("after adding", D)
del D[2]
print("after removing key=2:", D)
if 6 in D:
    print("Key 6 is present in D.")
else:
    print("Key 6 is not present in D.")
num_elements = len(D)
print("Number of elements in D:", num_elements)
values = D.values()
values_sum = sum(len(value) for value in values) 
print("sum :", values_sum)

after adding {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
after removing key=2: {1: 'One', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
Key 6 is present in D.
Number of elements in D: 5
sum : 19

question 6

In [15]:
import random
import math
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True
random_numbers = [random.randint(100, 900) for _ in range(100)]
odd = 0
even = 0
prime = 0
for num in random_numbers:
    if num % 2 != 0:
        odd += 1  
    else:
        even+= 1  
    if is_prime(num):
        prime += 1 
print(f"List of 100 random numbers: {random_numbers}")
print(f"Count of odd numbers: {odd}")
print(f"Count of even numbers: {even}")
print(f"Count of prime numbers: {prime}")

List of 100 random numbers: [567, 879, 566, 164, 676, 844, 116, 758, 371, 558, 418, 880, 699, 898, 481, 194, 820, 395, 598, 263, 718, 880, 108, 363, 406, 562, 612, 342, 409, 791, 717, 699, 478, 737, 258, 200, 186, 851, 759, 202, 269, 692, 346, 776, 872, 393, 759, 546, 686, 254, 737, 154, 474, 477, 209, 785, 644, 150, 351, 668, 276, 563, 741, 798, 362, 568, 252, 618, 837, 149, 620, 891, 276, 788, 830, 418, 141, 195, 453, 630, 155, 898, 587, 726, 313, 633, 146, 335, 390, 220, 219, 606, 435, 490, 888, 253, 160, 701, 670, 353]
Count of odd numbers: 41
Count of even numbers: 59
Count of prime numbers: 9

question 7

In [1]:
from untitled2 import calculate_compound_interest

principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the interest rate (in %): "))
time = float(input("Enter the time (in years): "))

ci = calculate_compound_interest(principal, rate, time)
print(f"Compound Interest: {ci:.2f}")

Enter the principal amount:  2000000
Enter the interest rate (in %):  12
Enter the time (in years):  10

Compound Interest: 4211696.42

question 8

In [17]:
class Restaurant:
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type
    def describe_restaurant(self):
        print(f"Restaurant Name: {self.restaurant_name}")
        print(f"Cuisine Type: {self.cuisine_type}")
    def open_restaurant(self):
        print(f"The restaurant {self.restaurant_name} is now open!")
restaurant = Restaurant("Tasty Bites", "Italian")
print(f"Restaurant Name: {restaurant.restaurant_name}")
print(f"Cuisine Type: {restaurant.cuisine_type}")
restaurant.describe_restaurant()
restaurant.open_restaurant()

Restaurant Name: Tasty Bites
Cuisine Type: Italian
Restaurant Name: Tasty Bites
Cuisine Type: Italian
The restaurant Tasty Bites is now open!

8(b)

In [19]:
class User:
    def __init__(self, first_name, last_name, age, email, location):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.email = email
        self.location = location
    def describe_user(self):
        print(f"User Profile:")
        print(f"Name: {self.first_name} {self.last_name}")
        print(f"Age: {self.age}")
        print(f"Email: {self.email}")
        print(f"Location: {self.location}")
    def greet_user(self):
        print(f"Hello {self.first_name} {self.last_name}, welcome back!")
user1 = User("armaan ", "verma", 28, "armaan.verma@example.com", "himachal pradesh")
user2 = User("anhad", "Singh", 34, "anhad.singh@example.com", "punjab")
user3 = User("Aarya", "sharma", 25, "aarya.sharma@example.com", "Chandigarh")
user1.describe_user()
user1.greet_user()
print()  
user2.describe_user()
user2.greet_user()
print()  
user3.describe_user()
user3.greet_user()

User Profile:
Name: armaan  verma
Age: 28
Email: armaan.verma@example.com
Location: himachal pradesh
Hello armaan  verma, welcome back!

User Profile:
Name: anhad Singh
Age: 34
Email: anhad.singh@example.com
Location: punjab
Hello anhad Singh, welcome back!

User Profile:
Name: Aarya sharma
Age: 25
Email: aarya.sharma@example.com
Location: Chandigarh
Hello Aarya sharma, welcome back!